/*documents*/

/*document 1*/
#document1 {
	background-image:url(../img/documents/document1layer1.png);
}
#document2 {
	background-image:url(../img/documents/document1layer2.png);
}
#document3 {
	background-image:url(../img/documents/document1layer3.png);
}		
#document4 {
	background-image:url(../img/documents/document1layer4.png);
}		
